<include href="includes/header.html"></include>
<body>
<h1 id="planid" class="text-center m-3">Plan {{@plan['id']}}</h1>
<div class="container">
    <div class="row">
        <repeat group="{{ @quarters }}" value="{{ @quarter }}">
            <div class="card border-secondary col-3">
                <h3 class="align-self-center m-2">{{ @quarter }}1</h3>
                <div class="align-self-center d-inline">
                    <input id="{{ @quarter }}1" type="text">
                    <button class="btn-primary add" value="{{ @quarter }}1">Add</button>
                </div>
                <ul id="{{ @quarter }}1List">
                </ul>
            </div>
        </repeat>
    </div>
    <br>
    <div class="row">
        <repeat group="{{ @quarters }}" value="{{ @quarter }}">
            <div class="card border-secondary col-3">
                <h3 class="align-self-center m-2">{{ @quarter }}2</h3>
                <div class="align-self-center d-inline">
                    <input id="{{ @quarter }}2" type="text">
                    <button class="btn-primary add" value="{{ @quarter }}2">Add</button>
                </div>
                <ul id="{{ @quarter }}2List">
                </ul>
            </div>
        </repeat>
    </div>
    <br>
    <div class="row">
        <div class="text-right col-12">
            <button type="submit" class="btn-primary save">Save</button>
        </div>
    </div>
</div>
<script src="//code.jquery.com/jquery.js"></script>
<script src="scripts/data-train.js"></script>
<script src="scripts/plan-scripts.js"></script>
</body>
</html>